@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #d2d8d8;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
	width: 100%;
	object-fit: cover;
}

/*  font-size: 1.4rem;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 0.05rem; */
p {
  color: #050505;
  text-align: left;/**/
  font-size: 1.4rem;
  margin-top: 5px;
  /* line-height: 1.9rem; */
} 

.section-title {
  /* font-size: 4rem;
  font-weight: 300; */
  font-size: 3rem;
  font-weight: 300;
  color: #050505;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #2aaabb;
  background-color: transparent;
  border: 2px solid #2aaabb;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: #050505;
  background-color: #2aaabb;
}

/* Sección Hero*/
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: 50px;
}

#hero h1 {
  color: #050505;
}

#hero h2 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h2:nth-child(1) {
  animation-delay: 1s;
}

#hero h2:nth-child(2) {
  animation-delay: 2s;
}

#hero h2:nth-child(3) {
  animation: text_reveal_description 0.5s ease forwards;
  animation-delay: 3s;
}

/* Si solo se deja span, se crea una animación de toda la pantalla*/
#hero h2 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2aaabb;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}

#hero h2:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h2:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h2:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero h3 {
  color: #2aaabb;
}

#hero p {
  color: #050505;
}

/* Final De Sección */

/* Seccion Acerca De Mi */
#about .about {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 100%;
  margin-bottom: 30px;
}

#about .col-left h2{
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#about .col-left p {
  margin-bottom: 20px
}

#about .col-right {
  width: 250px;
  height: 360px;
}

#about .col-right .cta {
  margin-top: 50px;
  /* padding: 10px 20px; */
  font-size: 2rem;
}

#about .col-right .about-img {
  position: relative;
}

#about .col-right .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 65%;
  width: 98%;
  border: 7px solid #2aaabb;
  z-index: -1;
}
/* Fin De Seccion Acerca De Mi */

/* Seccion De proyectos */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#projects .project-img{
  flex-basis: 50%;
  /*height: 300px;/*image height css doesn't work*/
  max-height: 300px;
  overflow: hidden;

}

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#projects .project-info h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info ul > li {
  display: inline-block;
}

/* Final De Seccion De proyectos */

/* Sección De Otros Proyectos */
#other-projects .other-projects {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0; /**/
}

/* Esto se puede borrar */

#other-projects .other-projects-top p {
  font-size: 1.4rem;
  margin: 5px 10%;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

#other-projects .other-projects-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#other-projects .other-projects-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  /* border-radius: 10px; */
  background-color: #d2d8d8;
  margin: 8px 5%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#other-projects .other-projects-item .icon {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}

#other-projects .other-projects-item h2 {
  font-size: 2rem;
  color: #050505;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#other-projects .other-projects-item p {
  color: #050505;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}

#other-projects .other-projects-item ul > li {
  display: inline-block;
}

/* Finn De Sección De Otros Proyectos */

/* Seccion De Contacto */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50vh;
}

#contact .contact p{
  margin: 5px 10%;
}
/* Fin De Seccion De Contacto */

/* Footer */
footer .footer{
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
/* Fin De Footer */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: #050505;
  }
}

@keyframes text_reveal_description {
  100% {
    color: #2aaabb;
  }
}
/* End Keyframes */
