@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #d2d8d8;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*  font-size: 1.4rem;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 0.05rem; */
p {
  color: #050505;
  text-align: left; /**/
  font-size: 1.4rem;
  margin-top: 5px;
  letter-spacing: 0.1rem;
  line-height: 1.9rem;
}

.section-title {
  /* font-size: 4rem;
  font-weight: 300; */
  font-size: 3rem;
  font-weight: 300;
  color: #050505;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #2aaabb;
  background-color: transparent;
  border: 2px solid #2aaabb;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: #050505;
  background-color: #2aaabb;
}

/* Header Section */
header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: #2aaabb;
}

#header .nav-bar {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-bar .logo {
  z-index: 1000;
  margin-left: 10px;
}

#header .nav-list ul {
  list-style: none;

  position: absolute;
  background-color: #d2d8d8;
  width: 100vw;
  height: 100vh;
  right: 120%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease right;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#header .nav-list ul.active {
  right: 19%;
}

#header .nav-list ul a {
  color: #050505;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 25px;
  margin-left: 60px;
}

#header .nav-list ul a:hover {
  color: #2aaabb;
}

#header .hamburger {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  /* border: 3px solid black;
  border-radius: 50%; */
  z-index: 100;
  cursor: pointer;
  margin-right: 10px;
}

#header .hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px 0px;
  background-color: #050505;
  transition: 0.4s;
}

#header .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 7px);
}

#header .hamburger.is-active:after {
  transform: rotate(45deg) translate(-7px, -6px);
}

#header .hamburger.is-active .bar {
  opacity: 0;
}
/* End Header Section */

/* Sección Hero*/
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: 50px;
}

#hero h1 {
  color: #050505;
}

#hero h2 {
  display: block;
  width: fit-content;
  font-size: 3.5rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  letter-spacing: 0.2rem;
}

#hero h2:nth-child(1) {
  animation-delay: 1s;
}

#hero h2:nth-child(2) {
  animation-delay: 2s;
}

#hero h2:nth-child(3) {
  animation: text_reveal_description 0.5s ease forwards;
  animation-delay: 3s;
}

/* Si solo se deja span, se crea una animación de toda la pantalla*/
#hero h2 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2aaabb;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}

#hero h2:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h2:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h2:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero h3 {
  color: #2aaabb;
}

#hero p {
  color: #050505;
  margin-top: 30px;
}

#hero .arrowDown-icon {
  font-size: 35px;
  color: #2aaabb;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px;
  margin-top: 50px;
}

/* Final De Sección */

/* Seccion Acerca De Mi */
#about .about {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .content {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about h1 {
  margin-bottom: 50px;
}

#about .col-left {
  width: 100%;
  margin-bottom: 30px;
}

#about .col-left h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-left p {
  margin-bottom: 20px;
}

#about .col-left ul {
  columns: 2;
  list-style-type: square;
  list-style-position: inside;
  text-align: left;
  margin-bottom: 30px;
}

#about .col-left ul > li {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

#about .col-right {
  width: 250px;
  height: 360px;
}

#about .col-right .cta {
  margin-top: 100px;
  /* padding: 10px 20px; */
  font-size: 2rem;
}

#about .col-right .about-img {
  position: relative;
}

#about .col-right .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 60%;
  width: 98%;
  border: 7px solid #2aaabb;
  z-index: -1;
}
/* Fin De Seccion Acerca De Mi */

/* Seccion De Experiencia */
#experience .experience {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#experience .experience-tabs {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 30px;
}

#experience .experience-button {
  cursor: pointer;
  /* margin-left: 18px; */
  margin-right: 18px;
}

#experience .experience-button:hover {
  color: #2aaabb;
}

#experience .experience-button span {
  /* color: #050505; */
  /* text-align: left;  */
  font-size: 1.6rem;
  letter-spacing: 00.2rem;
  /* margin-top: 5px; */
}

#experience .experience-button i {
  font-size: 15px;
  margin-right: 5px;
  /* color: #050505; */
}

#experience .experience-content {
  margin: 0px 30px;
}

#experience .experience-item {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em; */
}

#experience .experienceia-title {
  font-size: 1.6rem;
  /* font-weight: 600; */
}

#experience .experienceia-subtitle {
  display: inline-block;
  font-size: 1.3rem;
  margin-top: 5px;
}

#experience .experiencia-calendar {
  font-size: 1.3rem;
  color: #050505;
  margin-top: 15px;
  margin-bottom: 20px;
}

#experience .experiencia-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #2aaabb;
  border-radius: 50%;
}

#experience .experiencia-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #2aaabb;
  transform: translate(6px, -7px);
}

.experience [data-content] {
  display: none;
}

.experience-active[data-content] {
  display: block;
}

/* .experience-button.experience-active {
  color: #2aaabb;
} */
/* Fin De Seccion De Experiencia */

/* Seccion De proyectos */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  margin: 15px auto;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#projects .project-img {
  flex-basis: 50%;
  /*height: 300px;/*image height css doesn't work*/
  max-height: 300px;
  overflow: hidden;
}

#projects .project-info {
  padding: 25px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#projects .project-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2aaabb;
}

#projects .project-info h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

#projects .project-info p {
  line-height: 21px;
  margin-bottom: 20px;
}

#projects .project-info ul > li {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 10px;
  margin-bottom: 5px;
}

#projects .project-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#projects .project-info a {
  padding: 10px 10px;
  font-size: 1.5rem;
  margin-top: 30px;
}

/* Final De Seccion De proyectos */

/* Sección De Otros Proyectos */
#other-projects .other-projects {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0; /**/
}

/* #other-projects .other-projects-top {
  max-width: 500px;
  margin: 0 auto;
} */

#other-projects .other-projects-top h1 {
  margin-left: 30px;
  margin-right: 30px;
}

/* Esto se puede borrar */

#other-projects .other-projects-top p {
  font-size: 1.4rem;
  margin: 5px 10%;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

#other-projects .other-projects-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#other-projects .other-projects-item {
  flex-basis: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  /* border-radius: 10px; */
  background-color: #d2d8d8;
  margin: 8px 5%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#other-projects .other-projects-item i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #050505;
}

#other-projects .other-projects-item h2 {
  /* font-size: 2rem;
  color: #050505;
  margin-bottom: 10px;
  text-transform: uppercase; */
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

#other-projects .other-projects-item p {
  color: #050505;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 10px;
}

#other-projects .other-projects-item ul {
  text-align: left;
}

#other-projects .other-projects-item ul > li {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 15px;
  margin-right: 10px;
}

/* Finn De Sección De Otros Proyectos */

/* Seccion De Contacto */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 45vh;
}

#contact .contact p {
  margin: 5px 10%;
  text-align: center;
}

#contact a {
  margin-top: 90px;
}
/* Fin De Seccion De Contacto */

/* Footer */
footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

footer .social-icon {
  display: flex;
  margin-bottom: 30px;

  /*
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 30px; */
}

footer .social-item {
  /* height: 50px;
  width: 50px; */
  margin: 0px 30px;
}

footer .social-item i {
  color: #050505;
  font-size: 30px;
}

footer .social-item i:hover {
  color: #2aaabb;
}
/* Fin De Footer */

/* Scrollup */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: #2aaabb;
  /* opacity: .8; */
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  /* z-index: ; */
  transition: 0.4s;
}

.scrollup:hover {
  background-color: #2aaabb;
}

/* .scrollup img {
  height: 25px;
  width: 25px;
} */

.scrollup i {
  color: #d2d8d8;
  font-size: 20px;
  margin: 5px;
}

/* Show Scroll */
.show-scroll {
  bottom: 5rem;
}

/* Fin De Scrollup */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: #050505;
  }
}

@keyframes text_reveal_description {
  100% {
    color: #2aaabb;
  }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  #header .header {
    background-color: transparent;
  }

  #header .nav-bar {
    width: 100%;
    position: absolute;
  }

  #header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
  }

  #header .hamburger {
    display: none;
  }

  #header .nav-list {
    width: 100%;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    /* width: fit-content; */
    width: 80%;
    background-color: transparent;
    box-shadow: none;

    margin: auto;
    /* padding: 20px 0 0; */

    text-align: right;
  }

  #header .nav-list ul li {
    float: none;
    display: inline-block;

  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
    display: block;
    padding: 5px 20px;
    margin-left: 0px;
    
  }

  #header .nav-list ul li:nth-child(1) {
    float: left;
  }

  #header .nav-list ul li:nth-child(2) {
    float: left;
  }

  h1.section-title {
    font-size: 4rem;
  }

  /* Hero */
  #hero .content {
    /* max-width: 768px; */
    margin-left: 35px;
    margin-right: 35px;
  }

  #hero h2 {
    font-size: 4rem;
  }
  /* End Hero */

  /* About */
  #about .about {
    padding-left: 55px;
    padding-right: 55px;
  }
  /* End About */

  /* Others Projects */
  #other-projects .other-projects-bottom .other-projects-item {
    flex-basis: 41.5%;
    margin: 1%;
    flex-shrink: 0;
  }
  /* End Others Projects */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* Hero */
  #hero h2 {
    font-size: 6rem;
  }

  #hero .content {
    /* max-width: 768px; */
    margin-left: 75px;
    margin-right: 75px;
  }
  /* End Hero */

  /* About */
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    /* width: 750px;
    height: 400px;
    padding-right: 200px; */
    padding-left: 30px;
    padding-right: 70px;
  }

  #about .col-right {
    width: 450px;
    height: 400px;
    padding-right: 60px;
  }
  /* End About */

  /* Project */
  #projects .project-item {
    flex-direction: row;
    height: 400px;
  }

  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  /* Others Projects */
  #other-projects .other-projects-bottom .other-projects-item {
    flex-basis: 27%;
    margin: 1%;
    flex-shrink: 0;
  }
  /* End Others Projects */
}
/* End Media Query For Desktop */
